/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2018, 2:12:47 PM
    Author     : jacobbryant
*/


h1 {
    font-size: 88px;
}

#main-header {
    padding: 30px;
    background-color: white;
   
}

table {
    width: 100% !important;
    border-radius: 2px;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
}

.footer-center {
    margin: auto;
}
